:root {
   --app-bg: #141414;
   --app-container-genislik: 95%;

   --kutuSuprise-yukseklik-ve-genislik: 300px;
}

body {
   background: var(--app-bg) !important;
}
.ui.container { width: var(--app-container-genislik) !important; }
.ui.grid.container { width: var(--app-container-genislik) !important; }

#cover { position: relative; width: 100%; height: 100%; padding: 0; margin: 0;}

#slider1 div { margin: 10px; }
#slider1 div:first-child { margin-left: 0 !important; }
#slider1 div:last-child { margin-right: 0 !important; }
#slider1 div div.image img { max-width: 250px; min-width: 150px; min-height: 100px; }
/* #slider1 div div.image { width: 350px; height: 200px; position: relative; }
#slider1 div div.image img { max-width: 100%; height: auto; position: absolute; left: 0; top: 0; }
#slider1 div div.image div { z-index: 1; } */

.slick-list {
   margin-top: -50px !important;
   margin-bottom: 0 !important;
   max-height: 262px !important;
}

.list-header{
   color: rgba(162, 162, 162, 0.87) !important;
}
p#appHeadButton {
   text-align: center;
}
p#appDesc {
   text-align: center;
   font-size: 1.2em;
   color: #797979;
   margin-bottom: 0;
}

.present-box.open .present { overflow: hidden; }
#cekilisSonrasiSonuc {
   position: relative;
}
#cekilisSonrasiSonuc div {
   position: absolute;
   width: 100%;
   height: auto;
   text-align: center;
   background: #ffffff;
   color: #555;
   text-shadow: 1px 1px 3px #ffffff;
   opacity: 0.7;
}
#cekilisSonrasiSonuc h1, #cekilisSonrasiSonuc h2, #cekilisSonrasiSonuc h3 {
   line-height: 1.7rem; padding: 0; margin: 0;
}
#cekilisSonrasiSonuc h2 { color: #141414; }

#appTitle{
   text-align: center;
   margin-top: 0 !important;
}

#appheader{
   margin-top: 20px;
   background-image: url(assets/images/cafe-head-logo-3.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right center;
   position: relative;
}

.bg-header {
   position: absolute;
}
.bg-header img {
   width: 250px;
}
#gift-list .gift-box .content { cursor: pointer; }


/* LED STYLE */
div#led-block {
   padding: 0;
   font-size: 75px;
   font-family: fantasy;
   text-align: center;
   text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
   color: red;
 }
 div#led-block p { margin:0; display: inline-block; }
 #error:hover { text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; }
 #code:hover { text-shadow: 0 0 5px red,0 0 40px FireBrick,0 0 8px DarkRed; }
 #code {
    text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
 }
 #error {
   color: #fff;
   text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
 }
 #error span {
   animation: upper 11s linear infinite;
 }
 #code span {
   animation: upper 7s linear infinite;
 }
 
 @keyframes upper {
   0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
     opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
   }
   20%,21.999%,63%,63.999%,65%,69.999% {
     opacity:0.4; text-shadow: none; 
   }
 }
 @keyframes lower {
   0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
     opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
   }
   19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
     opacity:0.4; text-shadow: none; 
   }
 }


/* OPENİNG  */

.above-fold {
   height: 70vh;
   width: 70vw;
   padding: 0;
   margin: 0;
   -webkit-perspective: 800px;
           perspective: 800px;
   -webkit-perspective-origin: 50% 200px;
           perspective-origin: 50% 200px;
   display: flex;
   flex-wrap: wrap;
   position: relative;
 }
 
 .wrap-present {
   width: 100%;
   display: flex;
   align-self: flex-start;
   margin: 100px 100px 0 0;
 }
 
 .present-box {
   -webkit-transform-style: preserve-3d;
           transform-style: preserve-3d;
   width: 200px;
   height: 200px;
   margin: auto;
   -webkit-animation: rotate 11s alternate linear infinite;
           animation: rotate 11s alternate linear infinite;
   cursor: pointer;
 }
 .present-box:hover {
   -webkit-animation: staticFront 700ms ease forwards;
           animation: staticFront 700ms ease forwards;
 }
 .present-box.open {
   /*&>.side.top{
       opacity: .2;
   }*/
   -webkit-animation: zoomIn 1s ease-in forwards;
           animation: zoomIn 1s ease-in forwards;
   -webkit-transform: rotateX(-103deg) rotateY(-180deg);
           transform: rotateX(-103deg) rotateY(-180deg);
   transition: -webkit-transform 400ms;
   transition: transform 400ms;
   transition: transform 400ms, -webkit-transform 400ms;
 }
 .present-box.open .present {
   pointer-events: auto;
   visibility: visible;
 }
 .present-box.open .present .img-wrap {
   opacity: 1;
   transition: opacity 800ms 200ms, -webkit-transform 600ms 800ms;
   transition: transform 600ms 800ms, opacity 800ms 200ms;
   transition: transform 600ms 800ms, opacity 800ms 200ms, -webkit-transform 600ms 800ms;
   -webkit-transform: translateZ(0px);
           transform: translateZ(0px);
 }
 .present-box.open > .side {
   opacity: 0.3;
   transition: opacity 500ms 600ms;
 }
 .present-box.open > .side.back {
   opacity: 0.7;
   -webkit-transform: translateZ(-101px) rotateY(180deg);
           transform: translateZ(-101px) rotateY(180deg);
 }
 .present-box.open > .side.front {
   transition: opacity 500ms 600ms, -webkit-transform 800ms 0s;
   transition: transform 800ms 0s, opacity 500ms 600ms;
   transition: transform 800ms 0s, opacity 500ms 600ms, -webkit-transform 800ms 0s;
   -webkit-transform: translateZ(100px) rotateY(190deg) translateX(0px);
           transform: translateZ(100px) rotateY(190deg) translateX(0px);
   -webkit-transform-origin: 0% 0%;
           transform-origin: 0% 0%;
   opacity: 0.3;
 }
 
 .present-box .present {
   position: absolute;
   width: 200px;
   height: 200px;
   z-index: 50;
   -webkit-transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
           transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
   display: flex;
   -webkit-perspective: 600px;
           perspective: 600px;
   pointer-events: none;
   visibility: hidden;
 }
 .present-box .present > .img-wrap {
   width: 200px;
   align-self: center;
   transition: -webkit-transform 400ms;
   transition: transform 400ms;
   transition: transform 400ms, -webkit-transform 400ms;
   opacity: 0;
   -webkit-transform: translateZ(-80px);
           transform: translateZ(-80px);
 }
 .present-box .present > .img-wrap a {
   transition: -webkit-transform 300ms;
   transition: transform 300ms;
   transition: transform 300ms, -webkit-transform 300ms;
   position: relative;
   display: block;
   -webkit-transform: scale(0.94);
           transform: scale(0.94);
 }
 .present-box .present > .img-wrap a:hover {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
 .present-box .present > .img-wrap img {
   max-width: 100%;
   height: auto;
 }
 
 .present-box > .side {
   width: 200px;
   height: 200px;
   position: absolute;
   display: block;
   background: repeating-linear-gradient(45deg, #cc2000, #cc2000 20px, #ee0a0a 20px, #ec3939 40px);
   top: 0;
   left: 0;
   transition: -webkit-transform 400ms;
   transition: transform 400ms;
   transition: transform 400ms, -webkit-transform 400ms;
 }
 .present-box > .side.back {
   -webkit-transform: translateZ(-100px) rotateY(180deg);
           transform: translateZ(-100px) rotateY(180deg);
 }
 .present-box > .side.right {
   -webkit-transform: rotateY(-270deg) translateX(100px);
           transform: rotateY(-270deg) translateX(100px);
   -webkit-transform-origin: top right;
           transform-origin: top right;
 }
 .present-box > .side.left {
   -webkit-transform: rotateY(270deg) translateX(-100px);
           transform: rotateY(270deg) translateX(-100px);
   -webkit-transform-origin: center left;
           transform-origin: center left;
 }
 .present-box > .side.top {
   -webkit-transform: rotateX(-90deg) translateY(-100px);
           transform: rotateX(-90deg) translateY(-100px);
   -webkit-transform-origin: top center;
           transform-origin: top center;
   -webkit-transform-style: preserve-3d;
           transform-style: preserve-3d;
   -webkit-perspective: 100px;
           perspective: 100px;
   text-align: center;
 }
 .present-box > .side.top .to {
   display: inline-block;
   font-family: cursive;
   position: relative;
   padding: 10px 10px 30px 10px;
   border: 5px dotted #ff6666;
   border-width: 2px;
   background: #fff;
   margin: auto;
   -webkit-transform: translateZ(-2px) translateY(50px);
           transform: translateZ(-2px) translateY(50px);
 }
 .present-box > .side.top .to:after {
   content: "Hediye Çekilişine";
   display: inline-block;
   -webkit-transform: rotateY(180deg);
           transform: rotateY(180deg);
   color: #990000;
 }
 .present-box > .side.top .to .name {
   display: block;
   position: absolute;
   -webkit-transform: translateY(20px) rotateY(180deg) translateX(10px);
           transform: translateY(20px) rotateY(180deg) translateX(10px);
   text-align: center;
   width: 100%;
   font-size: 1.1rem;
   color: green;
 }
 .present-box > .side.bottom {
   -webkit-transform: rotateX(90deg) translateY(100px);
           transform: rotateX(90deg) translateY(100px);
   -webkit-transform-origin: bottom center;
           transform-origin: bottom center;
 }
 .present-box > .side.front {
   -webkit-transform: translateZ(100px);
           transform: translateZ(100px);
 }
 
 @-webkit-keyframes rotate {
   100% {
     -webkit-transform: rotateY(-360deg) rotateX(180deg);
             transform: rotateY(-360deg) rotateX(180deg);
   }
 }
 
 @keyframes rotate {
   100% {
     -webkit-transform: rotateY(-360deg) rotateX(180deg);
             transform: rotateY(-360deg) rotateX(180deg);
   }
 }
 @-webkit-keyframes staticFront {
   100% {
     -webkit-transform: rotateX(-100deg) rotateY(-180deg);
             transform: rotateX(-100deg) rotateY(-180deg);
   }
 }
 @keyframes staticFront {
   100% {
     -webkit-transform: rotateX(-100deg) rotateY(-180deg);
             transform: rotateX(-100deg) rotateY(-180deg);
   }
 }
 @-webkit-keyframes zoomIn {
   50% {
     -webkit-transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
             transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
   }
   100% {
     -webkit-transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
             transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
   }
 }
 @keyframes zoomIn {
   50% {
     -webkit-transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
             transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
   }
   100% {
     -webkit-transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
             transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
   }
 }