body {
   background: #464646 !important;
}

#cover { position: relative; width: 100%; height: 100%; padding: 0; margin: 0;}

#slider1 div { margin: 10px; }
#slider1 div:first-child { margin-left: 0 !important; }
#slider1 div:last-child { margin-right: 0 !important; }
#slider1 div div.image img { max-width: 250px; min-width: 150px; min-height: 100px; }
/* #slider1 div div.image { width: 350px; height: 200px; position: relative; }
#slider1 div div.image img { max-width: 100%; height: auto; position: absolute; left: 0; top: 0; }
#slider1 div div.image div { z-index: 1; } */

.slick-list {
   margin-top: -50px !important;
   margin-bottom: 0 !important;
   max-height: 262px !important;
}

.list-header{
   color: rgba(162, 162, 162, 0.87) !important;
}
p#appHeadButton {
   text-align: center;
}
p#appDesc {
   text-align: center;
   font-size: 1.2em;
}

#cekilisSonrasiSonuc h2 p {
   font-weight: bolder !important;
   font-size: 2em !important;
   margin-bottom: 0.5em !important;
}

#appTitle{
   text-align: center;
   margin-top: 0 !important;
}

#appheader{
   margin-top: 40px;
   background-image: url(assets/images/cafe-head-logo-3.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right center;
   position: relative;
   text-shadow: 0px 0px 5px #fff;
}

.bg-header {
   position: absolute;
}
.bg-header img {
   width: 250px;
}